.signup-container {
  .bpay-details-wrapper {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    background: $primary;
    color: #fff;
    justify-content: center;
    text-align: right;
  }
  .employment-type-drp-template {
    padding: 0.5rem 1rem;
    background-color: #f7f7fc;
    &:first-child {
      border-radius: 15px 15px 0px 0px;
    }
    &:last-child {
      border-radius: 0px 0px 15px 15px;
    }
    color: $primary;
    .title {
      font-weight: bold;
    }
  }

  .timeline-wrapper {
    width: 70%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    .timeline {
      height: 100%;
      position: relative;
      &::before {
        display: block;
        content: "";
        height: 100%;
        width: 2px;
        left: 40px;
        position: absolute;
      }
      &.active-0 {
        &::before {
          background: linear-gradient(
            187deg,
            rgba(0, 208, 176, 1) 20%,
            $primary 80%
          );
        }
      }
      &.active-1 {
        &::before {
          background: linear-gradient(
            187deg,
            rgba(0, 208, 176, 1) 25%,
            $primary 75%
          );
        }
      }
      &.active-2 {
        &::before {
          background: linear-gradient(
            187deg,
            rgba(0, 208, 176, 1) 35%,
            $primary 65%
          );
        }
      }
      &.active-3 {
        &::before {
          background: linear-gradient(
            187deg,
            rgba(0, 208, 176, 1) 100%,
            $primary 0%
          );
        }
      }
      .card {
        border: 0px;
        background-color: transparent;
        .card-header {
          border-bottom: 0px;
          background-color: transparent;
          .toggle {
            display: flex;
            align-items: center;
            border: 0px;
            background-color: transparent;
            width: 100%;
            padding: 0px;
            margin: 0px;
            .icon {
              background-color: #fff;
              border: 2px solid $primary;
              border-radius: 50%;
              height: 50px;
              width: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              &.completed {
                border: 2px solid rgba(0, 208, 176, 1);
              }
              &.sign-up {
                height: 35px;
                border-color: transparent;
                img {
                  width: 35px;
                  height: 35px;
                }
              }
            }
            .heading {
              margin-left: 2rem;
              font-size: 1.3rem;
              font-weight: 500;
            }
          }
        }
        .card-body {
          margin-left: 5rem;
          min-height: 350px;
        }
      }
    }
  }
}
